<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-horizon/bootstrap-horizon.css">
    <title>Blog-page</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=ABeeZee|Bree+Serif|Crete+Round&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="../css/navbar_css.css" rel="stylesheet">
    <link href="../css/footer_css.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/blog-page-2-css.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top navbar-color">
        <!-- Brand -->
        <a class="navbar-brand ml-2" href="#">Harbacore</a>

        <!--Toggler/collapsibe Button -->
        <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Navbar links-->
        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto" id="navbar-link">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#" th:href="@{/blog/electric-vehicle/how-to-save-Rs-100-daily-with-electric-scooter}">Blogs</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#sticky-footer">Contact Us</a>
                </li>

                <li class="nav-item mr-2">
                    <a class="nav-link" th:href="@{/harbacore-cares/harbacore-robinhoodarmy-association-for-covid-aid}" href="#">
                        Harbacore Cares</a>
                </li>

                <!--<li class="nav-item mr-2">-->
                <!--<a class="nav-link" href="#">About Us</a>-->
                <!--</li>-->
            </ul>
        </div>
    </nav>
    <div class="container" id="body-container">
        <div class="row" id="body-row">
            <div class="col-lg-9 col-sm-12" id="main-blog">
                <p id="tag">content-tag</p>
                <h1 id="blog-title">#Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aperiam tenetur nulla nemo labore nesciunt?</h1>
                <br>
                <div class="row" id="info" style="line-height: 1.2rem;">
                    <div class="col-sm-8" id="author-info">
                        <div class="col-3">
                            <p>image</p>
                        </div>
                        <div class="col-8">
                            <p>Author-name</p>
                            <p>Read time</p>
                            <p>date</p>
                        </div>
                    </div>
                    <div class="col-sm-4" id="sharing-1">
                        <p style="color: #818181; line-height: 1.7rem;">Share this article</p>
                        <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="sharing-icon-1">
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_whatsapp"></a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->
                    </div>
                </div>
                <!-- <br> -->
                <hr>
                <ul id="highlights">
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, nam!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, nam!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, nam!</li>
                </ul>
                <hr>
                <p>
                    
                    <!-- OUR CONTENT -->
                    <p>We as humans have always worked to find a sustainable source of transportation. Technological advancements and researchers globally to make the process more efficient and economical is taking a broadway while heading up for the new era of energy efficient EV (electric vehicles) that will make use of coal, petrol and diesel-like conventional sources a history soon.</p>
<p>With the government promoting electric vehicles as it is a clean, efficient and economical medium of transportation reducing high pollution levels in cities which have been affecting the health of people living in these areas. Low noise level negligible maintenance cost and electricity being a cheaper fuel source is attracting more people to add electric vehicles in their fleets for domestic as well as commercial purposes.</p>
<h2><strong>Are people turning up to EV's?</strong></h2>
<p>&nbsp;</p>
<p>People in India still look up for petrol scooter (Petrol Operated Vehicles) as they find it cheaper than that of electric vehicles currently available in the market. Long range electric scooter tagged with high prices, even after the government provided subsidy, seems like a burning hole in one's pocket. However people looking to buy new vehicle do turn to EV stores to check for cheaper versions for long range electric scooter, but prices draw a big line, yet it&rsquo;s a long way to gear up for.</p>
<p>"Bhaiya itne mai toh petrol scooty aajayegi", are the common views that usually costumer shares to dealers with EV stores. "People need to get educated, why they should buy an EV? Number of costumers visiting the store is on the same page and doubt the capabilities of an electric-powered vehicle", share <em>Mr. Shubham Gupta store owner of Benling Electric Scooter in Kanpur.</em> He adds " there are many local players in the market, and due to low sale they are not able to provide adequate service setting up a rough patch at costumers mind"</p>
<h2><strong>Why Should you buy an Electric Vehicle?</strong></h2>
<p>&nbsp;</p>
<p>Electric vehicles provide several advantages over the conventional petrol vehicles as they have</p>
<ul>
<li style="text-align: justify;"><strong>Low Running Cost</strong>&nbsp;- Cheap fuel, low parts for maintenance's pull down the average running cost.</li>
<li style="text-align: justify;"><strong>Fuel Cost Saving</strong>&nbsp;- Using electricity as the primary source to run the vehicles is cheaper to generate and easily available which widens the gap between conventional fuel cost as petrol/ diesel and electricity.</li>
<li style="text-align: justify;"><strong>Low Maintenance</strong>&nbsp;- Yes, as it has reduced moving parts such as gears, transmission, piston etc. it almost provide with almost "ZERO Maintenance".</li>
<li style="text-align: justify;"><strong>Silent &amp; Efficient</strong>&nbsp;- Provide constant torque and acceleration with low noise levels provide a smooth ride with no engine vibration felt.</li>
<li style="text-align: justify;"><strong>Environment Friendly&nbsp;</strong>- Electricity can be generated from renewable sources thus your ride is emission-free and does not contribute to carbon footprint to the environment.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<h2><strong>Which one is better ?</strong></h2>
<p>&nbsp;</p>
<p>Adopting new technology is the primary stage for the revolution, and the stage is set. Every user adopting it is making a valuable contribution to the future. Many companies such as Hero Electric, Benling Electric India, Okinawa Electric, Jitendra Electric Vehicles and many more have developed high speed Electric vehicles which subjects to MAKE IN INDIA and have qualified under FAME 2 scheme for subsidies provided by the Indian government to promote electric vehicles&nbsp; and electric charging stations in India.</p>
<h4><em>&nbsp;Author : Shubham </em></h4>


                </p>
            </div>
            <div class="col-lg-3 col-sm-12" id="sidebar">
                <div id="sidebar-2">
                    <h2 id="sidebar-heading">Lorem, ipsum dolor.</h2>
                    <p id="sidebar-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aperiam dolorum voluptatem dignissimos ipsum voluptates hic facere nostrum provident est aut quibusdam, quisquam deserunt. Tempore eligendi aut, sapiente non natus reprehenderit
                        dolor corporis temporibus tenetur adipisci enim inventore eveniet ipsum aliquam qui molestiae molestias quis minima voluptates, placeat deserunt vitae.</p>
                </div>
            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 text-white-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h5 class="text-white">About Company</h5>
                    <p class="mt-2">Harbacore is an Indian startup with a strong aim to provide all best class product in the electrical, electronics and automotive sector with best affordable price and fast delivery.</p>
                    <p><a href="#" th:href="@{/sitemap.xml}" class="text-white-50">
                        Visit Sitemap
                    </a> </p>
                </div>

                <div class="col-sm-3"></div>

                <div class="col-sm-4">

                    <h5 class="text-white">Contact Us</h5>
                    <p class="mt-2"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp 105/693 N Bhannana Purwa, Kanpur, Uttar Pradesh - 208001</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> &nbsp +91 - 9415302372</p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp harbacore@gmail.com</p>

                </div>

            </div>
        </div>
        <div class="container text-center">
            <small>Copyright &copy; Harbacore</small>
        </div>
    </footer>
</body>

</html>