* {
    margin: 0;
    padding: 0;
}

#navbar {
    border: 1px black solid;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 50px;
}

#body-container {
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-evenly;
}

body {
    background-color: #eeeeee;
    font-family: circularstd, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    font-weight: 500;
    color: black;
}

#tag {
    font-weight: 700;
    letter-spacing: .0625rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    color: red;
}

#blog-title {
    font-weight: 700;
    line-height: 1.2;
    font-size: 4rem;
    text-align: center;
}

#author-info {
    display: flex;
    justify-content: center;
}

#author-text {
    display: inline-block;
}

#sharing-1 {
    text-align: center;
    justify-content: center;
    padding-left: 20px;
}

#sharing-icon-1 {
    width: fit-content;
    display: inline-block;
}

#highlights {
    font-size: 2.5rem;
    color: #818181;
    padding-left: 5rem;
}

#main-blog {
    background: #fff;
    border-radius: .9375rem;
    border: .09375rem solid #e6e6e6;
    margin: 0 0 1.25rem;
    margin-top: 0px;
    padding: 2.1875rem 2.5rem;
    overflow: hidden;
    padding: 5rem;
}

#sidebar {
    background: #fff;
    border-radius: .9375rem;
    border: .09375rem solid #e6e6e6;
    margin: 0 0 1.25rem;
    margin-top: 0px;
    padding: 2.1875rem 2.5rem;
    overflow: hidden;
    display: inline-block;
    /* height: fit-content; */
    /* min-height: 200px; */
}

#sidebar-heading {
    font-weight: 600;
}