* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
    font-family: 'Bree Serif', serif;
    font-family: 'Crete Round', serif;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    font-weight: 500;
    color: black;
}

#body-row {
    justify-content: space-around;
}

#tag {
    font-weight: 700;
    letter-spacing: .0625rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    color: red;
}

#blog-title {
    font-weight: 700;
    line-height: 1.2;
    /* font-size: 4rem; */
    text-align: center;
}

#author-info {
    display: flex;
    justify-content: center;
}

#author-text {
    display: inline-block;
}

#sharing-1 {
    text-align: center;
    /* justify-content: center; */
    padding-left: 20px;
}

#sharing-icon-1 {
    width: fit-content;
    display: inline-block;
}

#highlights {
    font-size: 2.5rem;
    color: #818181;
    padding-left: 5rem;
}

#main-blog {
    background: #fff;
    border-radius: .9375rem;
    border: .09375rem solid #e6e6e6;
    /* margin: 0 0 1.25rem; */
    margin-top: 0px;
    padding: 2.1875rem 2.5rem;
    overflow: hidden;
    padding: 5rem;
    width: 100%;
}

#sidebar-2 {
    background: #fff;
    border-radius: .9375rem;
    border: .09375rem solid #e6e6e6;
    /* margin: 0 0 1.25rem; */
    margin-top: 0px;
    padding: 2.1875rem 2.5rem;
    overflow: hidden;
    display: inline-block;
    /* height: fit-content; */
    /* min-height: 200px; */
}

#sidebar-heading {
    font-weight: 600;
}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    body {
        font-size: medium;
    }
    #main-blog {
        padding: 2rem;
    }
    #blog-title {
        font-size: x-large;
    }
    #highlights {
        font-size: large;
        padding-left: 30px;
    }
    #sidebar-heading {
        font-size: x-large;
    }
    #sidebar-content {}
    #sharing-1 {
        /* display: none; */
    }
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    body {
        font-size: medium;
    }
    #main-blog {
        padding: 2rem;
    }
    #blog-title {
        font-size: xx-large;
    }
    #hightlights {
        font-size: medium;
    }
    #sidebar-heading {
        /* font-size: xx-large; */
    }
    #sidebar-content {}
    #sharing-1 {
        /* display: none; */
    }
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    body {
        font-size: large;
        line-height: 3.5rem;
    }
    #main-blog {
        padding: 2rem;
    }
    #blog-title {
        font-size: xxx-large;
    }
    #sidebar-heading {}
    #sidebar-content {}
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    body {
        font-size: large;
    }
    #main-blog {
        padding: 5rem;
    }
    #blog-title {
        font-size: xxx-large;
    }
    #sidebar-heading {}
    #sidebar-content {}
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    body {
        font-size: large;
    }
    #main-blog {
        padding: 5rem;
    }
    #blog-title {}
    #sidebar-heading {}
    #sidebar-content {}
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    body {
        font-size: 2rem;
    }
    #main-blog {
        padding: 5rem;
    }
    #highlights {
        font-size: 2.5rem;
        padding-left: 5rem;
        line-height: 4rem;
    }
    #blog-title {
        font-weight: 10000;
    }
    #body-container {}
}