*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    font-size: 22px;
}

#h1 {
    margin: 0;
}

#navbar {
    margin: 0;
}

#H1 {
    display: flex;
    padding: 10px;
    height: 10vw;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.shell.com/about-us/contact-us/_jcr_content/pagePromo/image.img.960.jpeg/1517574547692/gs-contact-image-contact-us-1900x1200.jpeg);
    background-position: 1, 0;
}

#Heading {
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 5vw;
    color: white;
    vertical-align: center;
}

#Super-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 50px;
    margin-top: 75px;
    padding-left: 100px;
    /* padding-right: 100px; */
}

#Container-1 {
    width: 45%;
    margin: 10px;
    padding: 30px;
    position: relative;
    font-size: xx-large;
    /* background-color: blue; */
    /* border: 1px black solid; */
    border-radius: 5px;
    box-shadow: 0 0 40px gray;
    line-height: auto;
}

#c1head {
    font-weight: 600;
    font-size: 40px;
    margin: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    max-width: 100%;
}

#email,
#Phone,
#message,
#name,
#country-code {
    align-self: center;
    height: 50px;
    width: 97%;
    border-radius: 5px;
    margin: 7px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 550;
    box-shadow: none;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
}

#Phone {
    max-width: 100%;
    min-width: 0px;
}

#country-code,
#dropdown {
    font-family: inherit;
    padding: 0 5px;
    align-items: left;
    text-align: left;
    width: 65px;
}

#Phone-Number {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}

.Form-Child {
    line-height: 50px;
    align-self: center;
    width: 90%;
    /* border: none; */
}

#message {
    height: 200px;
}

#Submit {
    /* background-color: rgb(51, 204, 51); */
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    max-width: 250px;
    text-align: center;
    height: 50px;
    max-width: 200px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    align-self: center;
    margin-top: 20px;
}

#submit {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: white;
    width: 100%;
}

#Container-2 {
    display: flex;
    flex-direction: column;
    /* padding-top: 100px; */
    line-height: 30px;
    width: 40%;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
}

#container-2-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container-2-text {
    display: flex;
    height: 400px;
    flex-direction: column;
    text-align: left;
    vertical-align: middle;
    line-height: 50px;
}

#content-div {
    display: flex;
    flex-direction: row;
}

#heading-text {
    font-size: 20px;
    margin: 0;
}

#content-text {
    font-size: 15px;
    line-height: 15px;
}

#icon-div {
    margin-right: 10px;
    min-width: 50px;
    text-align: center;
}

#logo-text {
    font-weight: 600;
    font-size: 3rem;
    align-self: center;
}


/* .Container-2-child{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
} */


/* #logo,#address-icon,#email-icon,#phone-icon,#ig,#fb{
    display: inline-block;
    background-color: gray;
    max-width: 100%;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: bottom;
} */


/* #logo-text,#address-text,#email-text,#phone-text,#followus{
    font-weight: 300;
    font-size: 2.5rem;
    display: inline;
    vertical-align: middle;
}
#logo{
    background-color: gray;
    vertical-align: middle;
}
#logo-text{
    font-weight: 600;
    font-size: 4rem;
}
#container-2-icon{
    display: flex;
    flex-direction: column; 
    width:550px;  
}
#container-2-text-2{
    display: flex;
    flex-direction: column;
    width: 70%;
} */

::placeholder {
    font-size: 20px;
    font-weight: 40;
    color: lightcoral;
    /* text-align: left; */
    text-align: start;
}

.glyphicon {
    font-size: 40px;
}

.text {
    display: inline;
    vertical-align: middle;
}

@media screen and (max-width: 720px) {
    #Heading {
        font-size: 7vw;
        vertical-align: middle;
    }
    #H1 {
        vertical-align: middle;
        height: 20vw;
    }
    #Super-Container {
        display: flex;
        flex-direction: column;
        line-height: 50px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    #Container-1 {
        width: 90%;
        margin: 10px;
        padding: 10px;
        position: relative;
        font-size: xx-large;
        /* background-color: blue; */
        /* border: 1px black solid; */
        border-radius: 5px;
        box-shadow: 0 0 40px gray;
    }
    #Container-2 {
        margin-top: 100px;
        width: 90%;
    }
}