html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: 0px;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 0px solid var(--scrollbarBG);
}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden !important; */
}


/* #first-page {
    overflow-x: hidden !important;
} */

body {
    background-color: none;
    /* padding: 0 20px; */
    /* overflow-x: hidden !important; */
}

#first-row-container {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* transform: scale(1); */
    width: 100%;
}

#carousel {
    /* margin: 30px; */
    max-width: 100%;
    /* overflow-x: hidden !important; */
    margin-bottom: 10px;
}

#offers {
    /* padding: 20px; */
    /* min-width: 300px; */
    /* overflow-x: hidden !important; */
    margin: auto;
    margin-top: 0;
    /* text-align: start; */
}

#card-deck {
    /* border: 2px black; */
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    overflow-x: hidden !important;
    align-content: center;
}

#EV2-card,
#EV1-card {
    max-width: 800px;
    align-self: center;
    display: flex;
    flex-direction: row;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    align-self: center;
    margin: 10px;
    padding: 0;
}

#card-container {
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-x: hidden !important;
}

.card-body {
    width: 100%;
    overflow-x: hidden !important;
}

.card {
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    /* background-color: gray; */
    width: 100%;
    display: inline-block;
    /* margin: 20px; */
}

.row-no-gutters {
    border: 1.5px solid rgba(0, 0, 0, 0.2);
}

.card-img {
    height: auto;
    width: 100%;
}


/* #card-container{
    justify-content: space-between;
    margin-top: 20;
} */

#scroll-cards {
    overflow: auto;
    /* display: flex; */
    /* flex-direction: row; */
    white-space: nowrap;
}

#super-container {
    /* justify-content: space-between; */
    min-width: 0px;
}

.leftButton,
.rightButton {
    min-width: 60px;
}

#right-button,
#left-button {
    position: relative;
    top: 40%;
    left: 30%;
}

.card:hover {
    box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.4);
}

#scroll-cards::-webkit-scrollbar {
    display: none;
}

#footer {
    background-color: chocolate;
    height: 50px;
}